input[type=text], select {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
  font-weight: bolder;
}

button {
  width: 80%;
  background-color: goldenrod;
  color:black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size:100;
  font-weight: bolder;
}


input[type=submit]:hover {
  background-color: orangered;
}
form{
    border-radius: 10px;
    padding-top: 5%;
    font-weight: bolder;
}
div {
 
  border-radius: 5px;
  margin-left: 35%;
  width: 30%;
  
}
h1{
    color: goldenrod;
    font-size: 40px;
    font-weight: bolder;
}
h2{
  color: blue;
}

body {
            
           
            background-repeat: no-repeat;
            background-size: cover;
            text-align: center;
            padding: 0px;
        }
